.featuresList {
    overflow: hidden;
    margin: 0 0 150px 0;

    &__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        gap: 17px 50px;

        @media (max-width: 1370px) {
            gap: 17px 30px;
        }

        @media (max-width: 835px) {
            gap: 17px 20px;
        }

        @media (max-width: 550px) {
            gap: 10px 5px;
        }
    }

    &__item {
        overflow: hidden;
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        flex-shrink: 0;
        justify-content: flex-start;
        align-items: center;
        width: 30.7%;
        padding: 8px 40px 8px 30px;
        color: $white;
        background: linear-gradient(180deg, #333 0%, #1d1d1d 100%);

        @media (max-width: 1300px) {
            padding: 3px 40px 3px 30px;
        }

        @media (max-width: 1070px) {
            padding: 3px 28px 3px 30px;
        }

        @media (max-width: 750px) {
            width: 48%;
            padding: 15px 28px 15px 30px;
        }

        @media (max-width: 550px) {
            width: 100%;
        }

        &::before {
            position: absolute;
            content: "";
            top: 36px;
            right: 32px;
            display: block;
            width: 2px;
            height: 18px;
            background: $white;
            transform: rotate(45deg);

            @media (max-width: 1300px) {
                top: 31px;
                right: 17px;
            }

            @media (max-width: 1070px) {
                height: 10px;
                top: 25px;
            }
        }

        &::after {
            position: absolute;
            content: "";
            top: 25px;
            right: 32px;
            display: block;
            width: 2px;
            height: 18px;
            background: $white;
            transform: rotate(135deg);

            @media (max-width: 1300px) {
                top: 19px;
                right: 17px;
            }

            @media (max-width: 1070px) {
                height: 10px;
                top: 19px;
            }
        }
    }

    &__number {
        font-weight: 700;
        font-size: 64px;
        line-height: 100%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin: 0 24px 0 -45px;

        @media (max-width: 1070px) {
            font-size: 48px;
            margin: 0 10px 0 -45px;
        }

        @media (max-width: 750px) {
            margin: 0 5px 0 -38px;
        }

        @media (max-width: 567px) {
            font-size: 32px;
            //margin: 0 5px 0 -45px;
        }
    }

    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        @media (max-width: 1370px) {
            font-size: 14px;
        }
    }
}
