@mixin breakpoint {
    width: 1300px;
    margin: 0 auto;
    padding: 0;

    @media (max-width: 1370px) {
        width: 85.5%;
    }

    @media (max-width: 1070px) {
        width: 91%;
    }

    @media (max-width: 768px) {
        width: 96%;
    }

    @media (max-width: 567px) {
        width: 95%;
    }

    @media (max-width: $mobile-width) {
        width: 91%;
    }
}

@mixin font-setting($size, $line-height, $font-width, $font-color) {
    font-size: $size;
    line-height: $line-height;
    font-weight: $font-width;
    color: $font-color;
}

@mixin image-wrapper {
    overflow: hidden;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

@mixin title {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 64px;
    line-height: 110%;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    @media (max-width: 1170px) {
        font-size: 60px;
    }

    @media (max-width: 970px) {
        font-size: 40px;
    }

    @media (max-width: 738px) {
        font-size: 36px;
    }

    @media (max-width: 537px) {
        font-size: 24px;
    }

    @media (max-width: 290px) {
        font-size: 20px;
    }
}

@mixin titleBlock {
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    height: 200px;
    margin: 0 0 150px 0;

    @media (max-width: 1370px) {
        height: 180px;
    }

    @media (max-width: 1320px) {
        height: 120px;
    }

    @media (max-width: 768px) {
        height: 93px;
    }

    @media (max-width: 550px) {
        height: 81px;
    }

    @media (max-width: 400px) {
        height: 75px;
    }
}

@mixin titleNumber {
    display: inline-flex;
    align-items: center;
    width: 30%;
    font-weight: 700;
    font-size: 161px;
    line-height: 100%;
    height: 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $white;
    background: $black;
    margin: 0 50px 0 -45px;
    border: none;

    @media (max-width: 1320px) {
        width: 13%;
        margin: 0 30px 0 -25px;
        font-size: 96px;
    }

    @media (max-width: 1320px) {
        width: 20%;
    }

    @media (max-width: 800px) {
        width: 22%;
        font-size: 64px;
        margin: 0 20px 0 -16px;
    }

    @media (max-width: 665px) {
        width: 18%;
        margin: 0 10px 0 -16px;
    }

    @media (max-width: 500px) {
        width: 25%;
        font-size: 40px;
        margin: 0 10px 0 -9px;
    }
}

@mixin titleText {
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding: 0 0 0 40px;
    font-weight: 500;
    font-size: 64px;
    line-height: 110%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    border-top: 2px solid $black;
    border-bottom: 2px solid $black;

    @media (max-width: 1370px) {
        padding: 0;
        font-size: 60px;
    }

    @media (max-width: 1320px) {
        font-size: 40px;
    }

    @media (max-width: 815px) {
        font-size: 36px;
    }

    @media (max-width: 665px) {
        font-size: 24px;
    }

    @media (max-width: 443px) {
        font-size: 20px;
    }
}
