@mixin breakpoint {
    width: 1300px;
    margin: 0 auto;
    padding: 0;

    @media (max-width: 1370px) {
        width: 85.5%;
        padding: 0 100px;
    }

    @media (max-width: 1070px) {
        width: 91%;
        padding: 0 50px;
    }

    @media (max-width: 768px) {
        width: 96%;
        padding: 0 15px;
    }

    @media (max-width: 567px) {
        width: 95%;
        padding: 0 15px;
    }

    @media (max-width: $mobile-width) {
        width: 91%;
        padding: 0 15px;
    }
}

@mixin font-setting($size, $line-height, $font-width, $font-color) {
    font-size: $size;
    line-height: $line-height;
    font-weight: $font-width;
    color: $font-color;
}

@mixin image-wrapper {
    overflow: hidden;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

@mixin title {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 64px;
    line-height: 110%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    
    @media (max-width: 1170px) {
        font-size: 60px;
    }

    @media (max-width: 970px) {
        font-size: 40px;
    }

    @media (max-width: 738px) {
        font-size: 36px;
    }

    @media (max-width: 537px) {
        font-size: 24px;
    }

    @media (max-width: 290px) {
        font-size: 20px;
    }
}
